.band {
  @include container();
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.band:before {
  background-color: $color-pink-screen;
  transform: skew(10deg, 10deg);
  content: '';
  position: absolute;
  height: 500px;
  top: 150px;
  width: 100%;
  z-index: -1;
}

.band:after {
  background-color: $color-turquise-screen;
  transform: skew(170deg, 170deg);
  content: '';
  position: absolute;
  height: 150px;
  width: 100%;
  z-index: -1;
}


.band__title {
  align-items: center;
  background-color: $color-blue-grey;
  display: flex;
  font-size: rhythm(4);
  font-weight: $font-weight-bold;
  height: rhythm(8.25);
  justify-content: center;
  margin-top: 256px;
  margin-bottom: rhythm(7);
  text-align: center;
  text-transform: uppercase;
  width: 327px;


  @include breakpoint($from: large) {
    margin-bottom: rhythm(10);
    font-size: rhythm(5.5);
    height: 84px;
    width: 293px;
  }
}

.band__member-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0 26px;

  @include breakpoint($from: medium) {
    flex-wrap: nowrap;
    margin-top: rhythm(10);
    padding: 0 47px;
  }

  @include breakpoint($from: large) {
    padding: 0 122px;
  }
}

.band__member-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0 18px;
  text-align: center;

  /*
  This last child selects the last list name to make it centered at small size,
  then back in line at medium size. There's probably a better way to do this...?
  */
  &:last-child {
    width: 100%;
  }

  @include breakpoint($from: medium) {
    padding: 0 30px;
    
    &:last-child {
      width: 33%;
    }
  }
  @include breakpoint($from: large) {
    padding: 0 77px;
  }
}

.band__member-image {
  background-color: gray;
  border-radius: 50%;
  height: rhythm(15);
  width: rhythm(15);
  
  @include breakpoint($from: medium) {
    height: 188px;
    width: 188px;
  }
  @include breakpoint($from: large) {
    height: 208px;
    width: 208px;
  }
}

.band__member-name {
  color: $color-black;
  font-weight: $font-weight-bold;
  font-size: 18px;
  margin-bottom: rhythm(1);
  margin-top: 20.4px;
  @include breakpoint($from: medium) {
    font-size: rhythm(2.5);
    margin-top: rhythm(3);
  }
  @include breakpoint($from: large) {
    font-size: rhythm(3);
    margin-top: 26px;
  }
}

.band__member-instrument {
  font-size: rhythm(2);
  color: $color-black;
  font-weight: $font-weight-regular;

  @include breakpoint($from: large) {
    font-size: 20px;
    line-height: 30px;
  }
}
