.booking {
  @include container();

  @include breakpoint ($from: medium) {
    column-gap: rhythm(2);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  @include breakpoint ($from: large) {
    column-gap: rhythm(4);
  }
}

//Background shapes aren't right but I'm going to hold off on messing with them until 
//I get a little closer with other parts of this page.
.booking:before {
  background-color: $color-pink-screen;
  transform: perspective(500px) rotateY(-9deg);
  content: '';
  mix-blend-mode: screen;
  position: absolute;
  top: 120px;
  bottom: 120px;
  left: -200px;
  right: -200px;
  z-index: -1;
}

.booking:after {
  background-color: $color-turquise-screen;
  transform: perspective(500px) rotateY(9deg);
  content: '';
  mix-blend-mode: screen;
  position: absolute;
  top: 120px;
  bottom: 35px;
  left: -200px;
  right: -200px;
  z-index: -1;
}

.booking__inner {
  @include breakpoint ($from: medium) {
    grid-column: 2/12;
  }
  @include breakpoint ($from: large) {
    grid-column: 3/11;
  }
}

.booking__title {
  margin-bottom: rhythm(5);
  margin-top: rhythm(7);

  @include breakpoint ($from: medium) {
    margin-top: rhythm(14);
  }
}

.booking__text-1 {
  margin-bottom: rhythm(4);

  @include breakpoint ($from: medium) {
    margin-bottom: rhythm(3);
  }
}