.button {
    background-color: #4850E8;
    border-radius: 6px;
    display: inline-block;
    padding: 16px 32px;
    letter-spacing: 0.25px;
    line-height: 1;
    text-align: center;
    color: $color-white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    font-family: Rubik;
    min-width: 133px;
}
