.button {
    background-color: $color-button;
    color: $color-white;
    border-radius: 6px;
    display: inline-block;
    font-size: 20px;
    font-weight: $font-weight-medium;
    letter-spacing: 0.25px;
    line-height: rhythm(3);
    padding: rhythm(2) rhythm(5);
    text-decoration: none;
}
