.footer {
  bottom: 0px;
  position: absolute;
  width: 100%;
}

.footer__text {
  margin-top: rhythm(10);
  margin-bottom: rhythm(4);
  text-align: center;
}

.footer__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0 0 rhythm(12.5) 0;
  padding: 0;
}

.footer__list-icon {
  background-color: $color-blue;
  border-radius: 50%;
  height: rhythm(9);
  margin: 0 20px;
  padding: 10px;
  width: rhythm(9);
}

.footer__copyright {
  background-color: $color-black;
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}