.header {
  background-color: $color-black;
}

.header__main-nav {
  align-items: center;
  display: flex;
  height: rhythm(6);
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1100px; 
  width: auto;
  padding: 14px rhythm(2);

  @include breakpoint($from: medium) {
    height: 99px;
    padding: rhythm(2) 0 rhythm(2) rhythm(7);
    position: sticky;
  }

  @include breakpoint($from: large) {
    height: 102px;
    padding: rhythm(5) 0 rhythm(5) 100px;
  }
}

.header__logo {
  font-weight: $font-weight-medium;
  
  @include breakpoint($from: large) {
    font-size: 20px;
  }
}

.header__button {
  margin-right: 17px;

  @include breakpoint($from: medium) {
    display: none;
  }
}

.header__main-nav-list {
  display: none;
  flex-direction: column;
  font-size: rhythm(2.5);
  font-weight: $font-weight-bold;
  letter-spacing: 2.5px;
  list-style-type: none;
  margin: 0 auto;
  position: fixed;
  top: rhythm(6);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  
  @include breakpoint($from: medium) {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin: 0;
    position: static;
  }

  @include breakpoint($from: large) {
    font-size: 18px;
  }
}

.header__main-nav-list--expanded {
  @include breakpoint($until: medium) {
    display: flex;
    background-color: $color-black;
    padding: rhythm(3.5) rhythm(2) 0 rhythm(2);
  }
}

.header__main-nav-item {
  border-bottom: 1px solid $color-mobile-menu-border;
  text-transform: uppercase;

  @include breakpoint($from: medium) {
    border: none;
    margin-left: rhythm(0.5);
  }
}

.header__main-nav-link {
  text-align: center;
  color: $color-white;
  display: block;
  padding: rhythm(8) 115px;
  text-decoration: none;
  &:visited {
    color: $color-white;
  }

  @include breakpoint($from: medium) {
    padding: 40px 16px;
  }

  @include breakpoint($from: large) {
    padding: rhythm(5) rhythm(3.5) rhythm(5) rhythm(3.5);
  }
}

/*
I added a new class for this because the last link behaves a little differently (e.g., no bottom border at mobile size, and different padding at larger sizes).
Last-of-type worked great to get rid of the border, but not the padding. This is due to fact that all 4 links are technically the last of type/last children.
But maybe there's a better way to accomplish this?
*/

.header__main-nav-last-link {
  border: none;

  @include breakpoint($from: medium) {
    padding-right: 24px;
  }

  @include breakpoint($from: large) {
    padding-right: rhythm(7);
  }
}