.header__main-nav {
    background-color: $color-mobile-menu-background;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; //how do i get it to stretch full mobile screen width?
    padding: 14px 16px 14px 0;
    border-bottom: 1px solid $color-navbar-border;
}

.header__logo {
    font-weight: $font-weight-medium;
    margin-left: rhythm(2);
}

.header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17px;
    margin-right: 17px;
}

.header__main-nav-list {
    display: flex;
    flex-direction: column;
    //align-items: flex-end;
    justify-content: flex-end;
    list-style-type: none;
    //border: 3px dashed blue;
    width: 100%;
    height: 100%;
}

.header__main-nav-list--hidden {
    display: none;
}

.header__main-nav-item {
    //border: 1px solid white;
    text-transform: uppercase;
}

.header__main-nav-link {
    display: block;
    //height: 100%; 
    width: 100%;
    text-decoration: none;
    padding-right: 0px;
    margin: 0;
    //border: 1px dotted yellow;

}
.header__main-nav-link:visited{
    color: $color-white;
}   

//Tablet size
@include breakpoint($from: medium) {
    .header__button {
        display: none;
    }
    .header__main-nav {
        background-color: $color-black;
        border: none;
    }
    .header__main-nav-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style-type: none;
        //border: 3px dashed blue;
        width: 100%;
        height: 100%;
    }

    .header__main-nav-item {
        //border: 2px solid gray;
        font-size: 20px;
        padding-left: rhythm(7);
    }     

}

//Desktop Size
@include breakpoint($from: large) {
    .header__main-nav-list {
        //padding from invision image
        //padding: rhythm(5) rhythm(6.25) rhythm(5) rhythm(11.75);
        width: 100%;
    }
    .header__main-nav-item {
        display: flex;
        //border: 2px solid gray;
        padding-left: rhythm(7);
        height: 100%;
        }
    .header__main-nav-link  {
        display: flex;
        align-items: center;
        justify-content: center; 
        height: 100%; 
        width: 100%;
        text-decoration: none;
        margin: 0;
        //border: 1px dotted yellow;
        }     
}