.homepage__image {
  width: 100%;
  height: 280px;
  background-image: url(./assets/17.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include breakpoint($from: medium) {
    height: 440px;
  }

  @include breakpoint($from: large) {
    height: 560px;
  }
}

.homepage {
  @include container();
}

.homepage__title {
  @include title-1;
  padding: rhythm(2) rhythm(0.5);
  position: relative;
  top: -30px; //This is just a rough estimate.
}

.homepage__body-1 {
  margin-top: 40px;
  text-align: center;

  //Is this an acceptable way to override the color set in the mixin?
  & > .text--body-3{
    color: $color-white;
  }
}

.homepage__body-2 {
  margin-top: 32px;
  text-align: center;

  & > .text--body-2 {
    color: $color-white;
  }
}

.homepage__button {
  margin-top: rhythm(5);
  text-align: center;
}