.schedule {
  padding-top: rhythm(5); //temporary

  @include breakpoint ($from: medium) {
      @include container();
      display: grid;
      column-gap: rhythm(2);
      grid-template-columns: repeat(12, 1fr);
  }

  @include breakpoint ($from: large) {
    column-gap: rhythm(3);
  }
}

.schedule__title {
  margin-bottom: rhythm(7);

  @include breakpoint ($until: medium) {
    margin-left: rhythm(2);
    margin-right: rhythm(2);
  }

  @include breakpoint ($from: medium) {
    grid-column: 3/11;
    margin-bottom: rhythm(10);
  }
}

.schedule__featured-event {
  background: $color-blue-grey;
  padding: rhythm(2) rhythm(2) rhythm(5) rhythm(2);

  @include breakpoint ($from: medium) {
    grid-column: 1/13;
    display: flex;
    flex-direction: row;
  }
}

.schedule__featured-event-image {
  background-color: grey;
  height: 251px;
  margin-bottom: rhythm(3);
  width: 100%;

  @include breakpoint ($from: medium) {
    margin: 64px 0 64px 16px;
  }
}

.schedule__featured-event-info {
  @include breakpoint ($from: medium) {
    margin-left: 38px; 
  }

  @include breakpoint ($from: large) {
    margin-left: 44px; 
  }
}

.schedule__featured-event-date {
  margin-bottom: rhythm(1);
}

.schedule__featured-event-title {
  margin-bottom: rhythm(1);
}

.schedule__featured-event-location {
  margin-bottom: rhythm(3);

  @include breakpoint ($from: large) {
    margin-bottom: rhythm(4);
  }
}

//This to keep list inside container until it kicks 
//in at medium breakpoint on base component
.schedule__inner {
  @include breakpoint ($until: medium){
    @include container(); 
  }

  @include breakpoint ($from: medium){
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: rhythm(2);
    grid-column: 1/13;
  }

  @include breakpoint ($from: large) {
    column-gap: rhythm(3);

  }
}

.schedule__event-list {
  list-style-type: none;
  padding: rhythm(5) 0 0 0;

  @include breakpoint ($from: medium) {
    grid-column: 1/13;
    padding-top: rhythm(10);
  }

  @include breakpoint ($from: large) {
    grid-column: 2/12;
  }
}

.schedule__event-item {
  padding-bottom: rhythm(3);

  &:not(:last-of-type) {
    border-bottom: 1px solid $color-blue-grey;
  }

  &:not(:first-of-type) {
    padding-top: rhythm(3);
  }

  @include breakpoint ($from: medium) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: rhythm(2);
    padding-bottom: rhythm(5);

    &:not(:first-of-type) {
      padding-top: rhythm(5);
    }
  }

  @include breakpoint ($from: large) {
    column-gap: rhythm(3);
  }
}

.schedule__event-short-date {
  display: none;

  @include breakpoint ($from: medium) {
    align-items: center;
    background-color: $color-white;
    border-radius: 50%;
    display: flex;
    grid-column: 2/4;
    height: 98px;
    justify-content: center;
    width: 98px;
  }

  @include breakpoint ($from: large) {
    grid-column: 3/5;
  }
}

.schedule__event-info {
  @include breakpoint ($from: medium) {
    grid-column: 4/10;
  }

  @include breakpoint ($from: large) {
    grid-column: 5/11;
  }
}

.schedule__event-date {
  margin-bottom: rhythm(1);
}

.schedule__event-title {
  margin-bottom: rhythm(1);
}
