.songlist {
  @include container();

  margin-bottom: rhythm(15);
  
  @include breakpoint ($from: medium) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: rhythm(2);
  }
    @include breakpoint ($from: large) {
      column-gap: rhythm(3);
      margin-bottom: rhythm(20);
  }
}

.songlist__body {
  text-align: center;
  margin-bottom: rhythm(6);

  @include breakpoint ($from: medium) {
    grid-column: 2/12;
    margin-bottom: rhythm(6);
    text-align: center;
  }

  @include breakpoint ($from: large) {
    grid-column: 4/10;
    margin-bottom: rhythm(7);
  }
}

.songlist__form-label {
  @include form-label;

  margin-bottom: rhythm(2);
}

.songlist__form-input {
  @include form-input;

  background-image: url("/assets/icons/search.svg");
  background-position: left rhythm(2) center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 28px;
  height: 56px;
  padding-left: rhythm(7); //Made up a number up so that the input text would clear the background image. Seem okay?
  width: 100%;

  @include breakpoint ($from: medium) {
    width: 90%; //to match how it fits in design grid
  }

  @include breakpoint ($from: large) {
    width: 100%; //to match design grid
  }
}

.songlist__link-text {
  color: $color-white;

  &:visited {
    color: $color-white;
  }
}

.songlist__text {
  margin-bottom: rhythm(1);
  margin-top: rhythm(4);
}

.songlist__link-text {
  color: $color-white;
  font-size: 20px;
  font-weight: $font-weight-bold;
  letter-spacing: 0.25px;
  line-height: 24px;
}

.songlist__table {
  background-color: $color-silver-30;
  grid-column: 1/13;
  display: block;
  margin: 0 rhythm(-2);

  @include breakpoint ($from: medium) {
    margin: 0;
  }

  @include breakpoint ($from: large) {
    grid-column: 2/12;
  }
}

.songlist__table-head {
  display: block;
  background-color: $color-blue;
  font-size: 20px;
  letter-spacing: 0.25px;
  line-height: 24px;
}

.songlist__head-row {
  display: flex;
}

.songlist__head-item {
  display: flex;
  justify-content: space-between;
  padding: rhythm(2);
}

.songlist__head-item--artist {
  width: 50%;

  @include breakpoint ($from: medium) {
    width: 45%;
  }
}

.songlist__head-item--song {
  border-left: 1px solid $color-silver;
  width: 50%;

  @include breakpoint ($from: medium) {
    width: 45%;
  }
}

.songlist__head-item--link {
  display: none;

  @include breakpoint($from: medium) {
    border-left: 1px solid $color-silver;
    display: block;
    padding: rhythm(2);
    width: 10%;
  }
}

.songlist__table-body {
  display: block;
}

.songlist__body-row {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: rhythm(1) rhythm(2);

  @include breakpoint ($from: medium) {
    flex-direction: row;
    justify-content: space-between; 
    padding: 12px 31px 12px 16px;
  }
}

.songlist__body-artist {
  color: $color-black;
  font-size: 20px;
  font-weight: $font-weight-bold;
  letter-spacing: 0.25px;
  line-height: 30px;
  margin-bottom: -30px;
  order: 1;

  @include breakpoint ($from: medium) {
    margin: 0;
    width: 45%;
  }
}

.songlist__body-song {
  @include body-1;
  order: 3;

  @include breakpoint($from: medium) {
    order: 2;
    width: 45%;
  }
}

.songlist__body-link {
  align-self: flex-end;
  display: block;
  height: 24px;
  margin-bottom: -10px;
  margin-top: 15px;
  order: 2;
  width: 34.01px;

  @include breakpoint($from: medium) {
    align-self: center;
    order: 3;
    height: 32px;
    margin: 0;
    width: 45.34px;
  }
}

.songlist__table-bottom-text {
  text-align: center;
  grid-column: 1/13;
  margin-top: rhythm(2);

  @include breakpoint ($from: large) {
    margin-top: rhythm(3);
  }
}