.support-us {
  @include container();
  padding-top: rhythm(31);

  @include breakpoint ($from:medium) {
    padding-top: rhythm(44);
  }

  @include breakpoint ($from:large) {
    padding-top: rhythm(48);
  }
}

.support-us-title{
  margin-bottom: rhythm(3);

  // @include breakpoint ($from:medium) {
  //   margin-top: rhythm(44);
  // }

  // @include breakpoint ($from:large) {
  //   margin-top: rhythm(48);
  // }
}

.support-us-body {
  text-align: center;
}

.support-us-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: rhythm(5) 0 rhythm(10) 0;
  margin: 0;

  @include breakpoint ($from: medium) {
    flex-direction: row;
    justify-content: center;
  }
}

.support-us-list-item {

  @include breakpoint ($until: medium) {
    &:nth-of-type(1) {
      margin-bottom: rhythm(2);
    }
  }
}

// .footer:before {
//   background-color: $color-pink-screen;
//   transform: perspective(500px) rotateY(-9deg);
//   content: '';
//   mix-blend-mode: screen;
//   position: absolute;
//   top: 520px;
//   bottom: 120px;
//   left: -200px;
//   right: -200px;
//   z-index: -1;
// }

// .footer:after {
//   background-color: $color-turquise-screen;
//   transform: perspective(500px) rotateY(9deg);
//   content: '';
//   mix-blend-mode: screen;
//   position: absolute;
//   top: 120px;
//   bottom: 35px;
//   left: -200px;
//   right: -200px;
//   z-index: -1;
// }