.support-us {
  @include container();
  padding-top: 174px;
  padding-bottom: rhythm(10);

  @include breakpoint ($from:medium) {
    padding-bottom: rhythm(14);
    padding-top: 285px;
  }

  @include breakpoint ($from:large) {
    padding-top: rhythm(37.5);
  }
}

.support-us-title{
  margin-bottom: rhythm(3);
}

.support-us-body {
  text-align: center;
}

.support-us-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin-top: rhythm(5);
  padding: 0;

  @include breakpoint ($from: medium) {
    flex-direction: row;
    justify-content: center;
  }
}

.support-us-list-item {

  @include breakpoint ($until: medium) {
    &:not(:last-child) {
      margin-bottom: rhythm(2);
    }
  }

  @include breakpoint ($from: medium) {
    margin: 0 12px;
  }
}

// .support-us:before {
//   background-color: $color-pink-screen;
//   transform: perspective(500px) rotateY(-9deg);
//   content: '';
//   mix-blend-mode: screen;
//   position: absolute;
//   top: 520px;
//   bottom: 120px;
//   left: -200px;
//   right: -200px;
//   z-index: -1;
// }

// .support-us:after {
//   background-color: $color-turquise-screen;
//   transform: perspective(500px) rotateY(9deg);
//   content: '';
//   mix-blend-mode: screen;
//   position: absolute;
//   top: 120px;
//   bottom: 35px;
//   left: -200px;
//   right: -200px;
//   z-index: -1;
// }