// Contains all Sass mixins.
//
// @see https://sass-lang.com/documentation/at-rules/mixin

// Creates a media query to apply styles to a given breakpoint.
//
// @param {string} $from - The name of a breakpoint (within our $breakpoints
//   variable). The styles within will be applied to all page widths at this
//   breakpoint and larger.
// @param {string} $until - The name of a breakpoint (within our $breakpoints
//   variable). The styles within will be applied to all page widths below this
//   breakpoint. In a mobile-first approach, this is used less often.
@mixin breakpoint($from: false, $until: false) {
  @if $from {
    $px: map-get($breakpoints, $from);

    @media screen and (min-width: $px) {
      @content;
    }
  }

  @if $until {
    $px: map-get($breakpoints, $until) - 1;

    @media screen and (max-width: $px) {
      @content;
    }
  }
}

//TODO add background color and spacing.
@mixin title-1 {
  color: $color-white;
  font-size: 38px;
  font-weight: $font-weight-bold;
  letter-spacing: 0.5px;
  line-height: 38px;
  text-align: center;

  @include breakpoint($from: medium) {
    font-size: rhythm(7);
    line-height: rhythm(7);
  }
  @include breakpoint($from: large) {
    font-size: rhythm(8);
    letter-spacing: 0.75px;
    line-height: rhythm(8);
  }
}

@mixin title-2 {
  color: $color-white;
  font-size: 32px;
  font-weight: $font-weight-bold;
  letter-spacing: 0.75px;
  line-height: 34px;
  text-align: center;

  @include breakpoint($from: medium) {
    font-size: 38px;
    letter-spacing: 0.75px;
    line-height: 40px;
  }

  @include breakpoint($from: large) {
    font-size: 44px;
    letter-spacing: 1px;
    line-height: 46px;
  }
}

@mixin title-3 {
  color: #191717;
  font-size: 28px;
  font-weight: $font-weight-bold;
  letter-spacing: 0;
  line-height: 36px;

  @include breakpoint($from: medium) {
    font-size: 30px;
    line-height: 38px;
  }

  @include breakpoint($from: large) {
    font-size: 36px;
    letter-spacing: -0.25px;
    line-height: 42px;
    text-align: center;
  }
}

@mixin title-4 {
  color: #191717;
  font-size: 24px;
  font-weight: $font-weight-bold;
  letter-spacing: 0;
  line-height: 28px;

  @include breakpoint($from: medium) {
    font-size: 26px;
    line-height: 30px;
  }

  @include breakpoint($from: large) {
    font-size: 30px;
    line-height: 36px;
  }
}