// Contains all Sass variables.
//
// @see https://sass-lang.com/documentation/variables

// Breakpoints.
$breakpoints: (
  medium: 720px,
  large: 1024px
) !default;

// Colors.
$color-blue: #00008B;
$color-red: #8B0000;
$color-yellow: #FC0;
$color-dark-blue: #1B2D38;
$color-white: #FFFFFF;
$color-black: #191717;

// Fonts.
$font-family-sans: 'sans-serif';
$font-family-serif: 'serif';

// Font weights.
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Units.
$rhythm: 8px;
